.footer-container {
    font-family: Poppins;
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    padding: 3rem 3rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mt-3 {
    margin-top: 2rem;
}

.right-footer p {
    font-size: 1.1rem;
    font-weight: bold;
}

@media (min-width: 600px) {
    .m-auto {
        margin: 0 auto;
    }
}