@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

hr {
  border: 2px solid black;
  margin: 0;
}

.text-black {
  color: black;
}

.flex-direction-col {
  flex-direction: column;
}

.text-decoration-none {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.align-items-center {
  align-items: center;
}

.align-items-left {
  align-items: left;
}

.align-items-right {
  align-items: right;
}

.position-sticky {
  position: sticky;
}

.position-fixed {
  position: fixed;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.top-0 {
  top: 0;
}

.top-10 {
  top: 10vh;
}

.z-99 {
  z-index: 99;
}

.z-98 {
  z-index: 98;
}

.right-0 {
  right: 0;
}

.list-style-none {
  list-style-type: none;
  font-family: "Poetsen One", serif;
  font-weight: bold;
}

.list-style-none:hover {
  color: orange;
}

.font-l {
  font-size: large;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.text-white {
  color: white;
}

.width-20 {
  width: 20rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mb-2 {
  padding-bottom: 2rem;
}

.w-100 {
  width: 100%;
}

.bg-transparent {
  background: transparent;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.color-orange {
  color: rgb(255, 166, 0);
}

.color-white {
  color: white;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.fs-small {
  font-size: small;
}

.fs-medium {
  font-size: medium;
}